<html><!DOCTYPE html>
<head>
	<title>Client Registration Form</title>
</head>
<body>
<h1>Registration Form</h1>

<form method="POST" action="/clientreg">
  <label for="last_name"> Last Name </label>
  <input type="text" name="last_name" value="<%= qs.last_name %>">

  <label for="first_name"> First Name </label>
  <input type="text" name="first_name" value="<%= qs.first_name %>">

  <label for="client_address"> Home Address </label>
  <input type="text" name="client_address" value="<%= qs.client_address %>">

  <label for="client_cn"> Contact Number </label>
  <input type="text" name="client_cn" value="<%= qs.client_cn %>">

  <label for="client_email"> Email </label>
  <input type="text" name="client_email" value="<%= qs.client_email%>">

  <input type="submit" value="submit">
</form>

</body>
</html>