<html><!DOCTYPE html>
<head>
	<title>Client Registration Form</title>
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
<h1>Registration Form</h1>

<form method="POST" action="/clientreg">
    <div>
  <label for="last_name"> Last Name </label>
  <input type="text" name="last_name" value="<%= qs.last_name %>" placeholder="Last Name">
</div>
    <div>
  <label for="first_name"> First Name </label>
  <input type="text" name="first_name" value="<%= qs.first_name %>" placeholder="First Name">
</div>
    <div>
  <label for="client_address"> Home Address </label>
  <input type="text" name="client_address" value="<%= qs.client_address %>" placeholder="Address">
</div>
    <div>
  <label for="client_cn"> Contact Number </label>
  <input type="text" name="client_cn" value="<%= qs.client_cn %>" placeholder="Contact Number">
</div>
    <div>
  <label for="client_email"> Email </label>
  <input type="text" name="client_email" value="<%= qs.client_email%>" placeholder="Email">
</div>
    <div>
  <label for="password"> Password </label>
  <input type="password" name="password" value="<%= qs.password%>" placeholder="Password">
</div>
  <input type="submit" value="Submit">
</form>

</body>
</html>