<html><!DOCTYPE html>
<head>
	<title>Client Registration Form</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="./stylesheet/styles.css" rel="stylesheet" type = "text/css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #99d8e8">
	<div class="container" style="background-color: #ffffd3">
	
	<div class="container">
	<img src="stylesheet/image/logo.png" alt="logo">
	</div><!--end of header logo-->
	
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><a href="admin.ejs">View Admin</a></li>
			<li><a href="service.ejs">View Services</a></li>
			<li><a href="client.ejs">View Clients</a></li>
			<li><a href="clientreg.ejs">New Clients</a></li>
			<li><a href="sp.ejs">View Service Providers</a></li>
			<li><a href="spreg.ejs">New Service Provider</a></li>
		</ul>
    </ul>
  </div><!--end of container-fluid-->
</nav><!--end of top navigation bar-->


<div class="col-md-6" style="background-color: d4d4d4"><!--start of client registration form-->
  <h3>Client Registration Form</h3>
  <form class="form-horizontal" id="register" method="POST" action="/clientreg">
    <div class="form-group">
      <label class="control-label col-sm-3" for="last_name">Last Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Enter last name" name="last_name" value="<%= qs.last_name %>">
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-3" for="first_name">First Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Enter first name" name="first_name" value="<%= qs.first_name %>">
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-3" for="client_address">Home Address:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Enter Address" name="client_address" value="<%= qs.client_address %>">
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-3" for="client_cn">Contact Number:</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" placeholder="Enter Contact Number" name="client_cn" value="<%= qs.client_cn %>">
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-3" for="client_email">Email:</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" placeholder="Enter email" name="client_email" value="<%= qs.client_email %>">
      </div>
	 </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-12">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
</div>
</form><!--end of client registration-->

	</div><!--end of the main container-->
</body>
</html>
