<html><!DOCTYPE html>
<head>
	<title>Clients</title>
</head>
<body>
<h1>Client List</h1>
<table border="1" cellpadding="7" cellspacing="7">
	<tr>
    <th width="50px">No</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Contact Number</th>
    <th>Email</th>
  </tr>
  <% if(client.length){
    for(var i = 0;i < client.length;i++) { %>
  <tr>
    <td><%=(i+1)%></td>
    <td><%=client[i].last_name%></td>
    <td><%=client[i].first_name%></td>
    <td><%=client[i].client_address%></td>
    <td><%=client[i].client_cn%></td>
    <td><%=client[i].client_email%></td>
  </tr>
  <% }
  }else{ %>
  <tr>
    <td colspan="3">No user</td>
  </tr>
<% } %>
</table>

</body>
</html>
