<!DOCTYPE html>
<html>
<head>
	<title>Services</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="./stylesheet/styles.css" rel="stylesheet" type = "text/css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #99d8e8">
	<div class="container" style="background-color: #ffffd3">

	<div class="container">
	<img src="stylesheet/image/logo.png" alt="logo">
	</div><!--end of header logo-->

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><a href="/admin">View Admins</a></li>
			<li><a href="/service">View Services</a></li>
			<li><a href="/client">View Clients</a></li>
			<li><a href="/clientreg">New Clients</a></li>
			<li><a href="/sp">View Service Providers</a></li>
			<li><a href="/spreg">New Service Provider</a></li>
		</ul>
  </div><!--end of container-fluid-->
</nav><!--end of top navigation bar-->

	<div class="container">
  <h2>Service</h2>
  <table class="table table-striped">
    <thead>
      <tr>
		<th>No.</th>
		<th>Service ID</th>
        <th>Service Name</th>
        <th>Price</th>
		<th>Service Description</th>
      </tr>
    </thead>
     <% if(service.length){
    for(var i = 0;i < service.length;i++) { %>
  <tr>
    <td><%=(i+1)%></td>
    <td><%=service[i].service_id%></td>
    <td><%=service[i].service_name%></td>
    <td><%=service[i].price%></td>
    <td><%=service[i].service_description%></td>
  </tr>
  <% }
  }else{ %>

  <tr>
    <td colspan="3">No user</td>
  </tr>
<% } %>
  </table>
</div><!--end of tables-->
	</div><!--end of the main container-->
</body>
</html>
