<html><!DOCTYPE html>
<head>
	<title>Service Providers</title>
</head>
<body>
<h1>Service Providers List</h1>
<table border="1" cellpadding="7" cellspacing="7">
	<tr>
    <th width="50px">No</th>
		<th>Id</th>
    <th>Last Name</th>
    <th>First Name</th>
		<th>Service Id</th>
    <th>Email</th>
    <th>Contact Number</th>
		<th>Password</th>
  </tr>
  <% if(sp.length){
    for(var i = 0;i < sp.length;i++) { %>
  <tr>
    <td><%=(i+1)%></td>
		<td><%=sp[i].staff_id%></td>
    <td><%=sp[i].last_name%></td>
    <td><%=sp[i].first_name%></td>
		<td><%=sp[i].service_id%></td>
    <td><%=sp[i].sp_email%></td>
    <td><%=sp[i].sp_cn%></td>
		<td><%=sp[i].sp_pw%></td>
  </tr>
  <% }
  }else{ %>
  <tr>
    <td colspan="3">No user</td>
  </tr>
<% } %>
</table>

</body>
</html>
