<html><!DOCTYPE html>
<head>
	<title>SP Registration Form</title>
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
    <h1>Registration Form</h1>
    <form method="POST" action="/spreg">
        <div>
            <label for="last_name"> Last Name </label>
            <input type="text" name="last_name" value="<%= qs.last_name %>" placeholder="Last Name">
        </div>
        <div>
            <label for="first_name"> First Name </label>
            <input type="text" name="first_name" value="<%= qs.first_name %>" placeholder="First Name">
        </div>
        <div>
            <label for="service_id"> Service ID </label>
            <input type="text" name="service_id" value="<%= qs.service_id %>" placeholder="Service ID">
        </div>
        <div>
            <label for="sp_email"> Email </label>
            <input type="text" name="sp_email" value="<%= qs.sp_email%>" placeholder="Email">
        </div>
        <div>
            <label for="sp_cn"> Contact Number </label>
            <input type="text" name="sp_cn" value="<%= qs.sp_cn %>" placeholder="Contact Number">
        </div>
        <div>
            <label for="sp_pw"> Enter Password </label>
            <input type="text" name="sp_pw" value="<%= qs.sp_pw %>" placeholder="Password">
        </div>
        
        <input type="submit" value="Submit">
    </form>

</body>
</html>